<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!-- COLLECTIONS -->
	<bean id="listCollection"
		class="es.serbatic.collections.ListCollection">
		<property name="lista">
			<list>
				<value>Valor lista 1</value>
				<value>Valor lista 2</value>
				<value>Valor lista 3</value>
				<value>Valor lista 4</value>
			</list>
		</property>
	</bean>
	
	<bean id="setCollection"
		class="es.serbatic.collections.SetCollection">
		<property name="set">
			<set>
				<value>Valor lista 1</value>
				<value>Valor lista 1</value>
				<value>Valor lista 2</value>
				<value>Valor lista 3</value>
				<value>Valor lista 4</value>
			</set>
		</property>
	</bean>
	
	<!-- Definimos los objetos que entrarán en el mapa -->
	<bean id="key1" class="es.serbatic.collections.Key">
		<property name="keyNumber" value="1"></property>
		<property name="key" value="Uno"></property>
	</bean>
	<bean id="key2" class="es.serbatic.collections.Key">
		<property name="keyNumber" value="2"></property>
		<property name="key" value="Dos"></property>
	</bean>
	<bean id="key3" class="es.serbatic.collections.Key">
		<property name="keyNumber" value="3"></property>
		<property name="key" value="Tres"></property>
	</bean>
	<bean id="key4" class="es.serbatic.collections.Key">
		<property name="keyNumber" value="4"></property>
		<property name="key" value="Cuatro"></property>
	</bean>
	<bean id="value1" class="es.serbatic.collections.Value">
		<property name="valueCode" value="1"></property>
		<property name="valueDescription" value="Descripcion valor de uno"></property>
	</bean>
	<bean id="value2" class="es.serbatic.collections.Value">
		<property name="valueCode" value="2"></property>
		<property name="valueDescription" value="Descripcion valor de dos"></property>
	</bean>
	<bean id="value3" class="es.serbatic.collections.Value">
		<property name="valueCode" value="3"></property>
		<property name="valueDescription" value="Descripcion valor de tres"></property>
	</bean>
	<bean id="value4" class="es.serbatic.collections.Value">
		<property name="valueCode" value="4"></property>
		<property name="valueDescription" value="Descripcion valor de cuatro"></property>
	</bean>
	<bean id="mapCollection"
		class="es.serbatic.collections.MapCollection">
		<property name="mapa">
			<map>
				<entry key-ref="key1" value-ref="value1" />
				<entry key-ref="key2" value-ref="value2" />
				<entry key-ref="key3" value-ref="value3" />
				<entry key-ref="key4" value-ref="value4" />
			</map>
		</property>
	</bean>
	
	<bean id="propsCollection"
		class="es.serbatic.collections.PropsCollection">
		<property name="propiedades">
			<props>
				<prop key="propiedad1" >Desc Propiedad Uno</prop>
				<prop key="propiedad2" >Desc Propiedad Dos</prop>
				<prop key="propiedad3" >Desc Propiedad Tres</prop>
				<prop key="propiedad4" >Desc Propiedad Cuatro</prop>
			</props>
		</property>
	</bean>
</beans>