<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!-- herencia -->
	<bean id="abstractClass"
		class="es.serbatic.hierarchy.ClaseAbstracta" abstract="true">
		<property name="tipo" value="Abstracto"></property>
		<property name="mensaje" value="Mensaje abstracto"></property>
	</bean>
	
	<bean id="implementationClass"
		class="es.serbatic.hierarchy.impl.ClassImplementation" parent="abstractClass">
		<property name="tipo" value="Concreto"></property>
		<property name="mensajeConcreto" value="Mensaje concreto"></property>
	</bean>
	<bean id="implementationOverrideClass"
		class="es.serbatic.hierarchy.impl.ClassImplementation" parent="abstractClass">
		<property name="tipo" value="Concreto"></property>
		<property name="mensaje" value="Mensaje concreto sobrescrito"></property>
		<property name="mensajeConcreto" value="Mensaje concreto"></property>
	</bean>
	
	<bean id="implementationWithoutHierarchyClass"
		class="es.serbatic.hierarchy.impl.ClassWithoutImplementation" parent="abstractClass">
		<property name="mensajeConcreto" value="Mensaje concreto"></property>
	</bean>
</beans>