<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!-- EJEMPLO DE PARÁMETROS AL CONSTRUCTOR -->
	<bean id="constructorArgsTestService"
		class="es.serbatic.services.ConstructorArgsTestService">
		<constructor-arg name="nombre"
			value="Constructor Args Test"></constructor-arg>
		<constructor-arg name="scope" ref="prototypeBean"></constructor-arg>
	</bean>

	<bean id="constructorArgsTestServiceByOrder"
		class="es.serbatic.services.ConstructorArgsTestService">
		<constructor-arg index="0"
			value="Constructor Args By Index Test"></constructor-arg>
		<constructor-arg index="1" ref="singletonBean"></constructor-arg>
	</bean>

	<bean id="constructorArgsTestServiceByType"
		class="es.serbatic.services.ConstructorArgsTestService">
		<constructor-arg type="java.lang.String"
			value="Constructor Args By Type Test"></constructor-arg>
		<constructor-arg type="es.serbatic.scope.ScopeObject"
			ref="prototypeBean"></constructor-arg>
	</bean>
	
</beans>